  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {}

  @layer components {}

  @layer utilities {

    body {
      scroll-behavior: smooth !important;
    }

    html {
      scroll-behavior: smooth;
    }

    .top-20 {
      top: 67px;
    }

    .space-50 {
      height: 50vh;
    }

    .activeLink {
      color: #30C59B !important;
    }

    /* dark-btn toggle */
    .toggle {
      display: grid;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.5) !important;
    }

    .toggle input {
      display: none;
    }

    .dark_icon {
      grid-column: 1 / 1;
      grid-row: 1 / 1;
      transition: transform 500ms;
    }

    .icon--moon {
      transition-delay: 200ms;
    }

    .icon--sun {
      transform: scale(0);
    }

    .AnimatedSun {
      animation: rotateSun 15s linear infinite 0.8s;
    }

    .AnimatedMoon {
      animation: tiltMoon 3s linear infinite 0.8s;
      /* color: #30c59b80; */
    }

    #switch:checked+.icon--moon {
      transform: rotate(360deg) scale(0);
      animation: none;
    }

    #switch:checked~.icon--sun {
      transition-delay: 200ms;
      transform: scale(1) rotate(360deg);
    }


    @keyframes rotateSun {

      0% {
        transform: rotate(0);
      }

      100% {
        transform: rotate(360deg);
      }
    }

    @keyframes tiltMoon {

      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(-10deg);
      }

      75% {
        transform: rotate(10deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }



    .short-input {
      width: fit-content !important;
      padding: 11px 33px !important;
      border-radius: 10px !important;
      /* border-radius: 50px !important; */
    }

    /* url input */
    .input-container {
      /* width: 900px; */
      position: relative;
      transform: skewX(-15deg);
      transition: .2s linear;
    }


    .icon {
      position: absolute;
      right: 20px;
      top: calc(50% + 5px);
      transform: translateY(calc(-50% - 5px));
    }

    .icon:hover {
      color: #FBC638;
    }

    .input {
      width: 100%;
      transition: .1s linear;
      /* border: 1px solid #30C59B; */
      padding: 11px 60px 11px 33px;
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      /* font-size: 25px; */
      letter-spacing: 2px;
      background-color: #7b1fa2cc;
      color: white;
      /* box-shadow: 6px 6px 0 black; */
      transition: 0.5s;
      border-radius: 10px;
    }


    .input.dark-in {
      box-shadow: 6px 6px 0 #30C59B;
      border: 1px solid #FFF;
    }

    .input.light-in {
      box-shadow: 6px 6px 0 black;
      border: 1px solid #30C59B;
    }

    .input.dark-in:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
    }

    .input.light-in:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
    }

    .input.pad {
      padding: 10px 15px !important;
    }

    .input:hover {
      /* width: 930px; */
      box-shadow: 10px 10px 0 #FBC638;
    }

    .dark-in:focus {
      outline: none;
      border: 0.5px solid #30C59B;
      box-shadow: 10px 10px 0 #FFF;
    }

    .light-in:focus {
      outline: none;
      border: 0.5px solid black;
      box-shadow: 10px 10px 0 #30C59B;
    }

    .input::placeholder {
      color: white;
    }

    .input-container:hover>.icon {
      animation: anim 1s linear infinite;
      animation: color_anim1 1s infinite 0.2s;
    }

    @keyframes anim {

      0%,
      100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
      }

      50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
      }
    }

    /* .banner_wrapper img{
      filter: drop-shadow(1px 1px 6px rgb(103, 103, 103));
    } */

    .activeHead {
      /* background: linear-gradient(180deg, rgba(10, 10, 10, 0.20) 0%, rgba(10, 10, 10, 0.04) 100%);
      backdrop-filter: blur(20px); */
      /* border-bottom: 1px solid #E8E8E8; */
      /* border-bottom: 1px solid #232127; */
      padding: 16px !important;
      transition: all 0.5s ease-in;
    }

    .dark-btn {
      /* background: linear-gradient(180deg, rgba(10, 10, 10, 0.20) 0%, rgba(10, 10, 10, 0.04) 100%); */
      /* backdrop-filter: blur(20px); */
      /* background: #ffffff7d;
      background: #0000007d; */
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6.7px);
      -webkit-backdrop-filter: blur(6.7px);
      z-index: 10;
    }

    @media screen and (max-width:768px) {
      .activeHead {
        background: white;
        backdrop-filter: blur(0px);
        padding: 16px !important;
        transition: padding 0.5s ease;
      }

      .activeHead.activeHeadDarkBorder {
        border-bottom: 1px solid #232127;
      }

      .activeHead.activeHeadLightBorder {
        border-bottom: 1px solid #E8E8E8;
      }
    }


    /* shorten btn */
    .cta {
      display: flex;
      justify-content: center;
      align-items: center;
      /* padding: 11px 33px; */
      text-decoration: none;
      font-family: 'Poppins', sans-serif;
      /* font-size: 25px; */
      color: white;
      /* background: #6225E6; */
      background: #7b1fa2;
      transition: 1s;
      /* box-shadow: 6px 6px 0 black; */
      transform: skewX(-15deg);
      border: none;
      font-style: italic;
      /* border-radius: 50px; */
    }

    .cta.dark-cta {
      box-shadow: 6px 6px 0 #30C59B;
    }

    .cta.dark-cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
    }

    .cta.light-cta {
      box-shadow: 6px 6px 0 black;
    }

    .cta.light-cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
    }


    /* .cta:focus {
      outline: none;
    } */


    .cta:hover {
      transition: 0.5s;
      box-shadow: 10px 10px 0 #FBC638;
    }

    .cta.dark-cta:focus-within {
      box-shadow: 10px 10px 0 #FFF;
    }

    .cta.light-cta:focus-within {
      box-shadow: 10px 10px 0 #30C59B;
    }

    .cta .second {
      transition: 0.5s;
      margin-right: 0px;
    }

    .cta:hover .second {
      transition: 0.5s;
      /* margin-right: 45px;
      margin-right: 20px; */
    }

    .span {
      transform: skewX(15deg)
    }

    .second {
      width: 20px;
      /* margin-left: 30px; */
      position: relative;
      top: 12%;
    }

    .one {
      transition: 0.4s;
      transform: translateX(-60%);
    }

    .clas {
      color: #63ffd3;
      background-color: #FE7062;
    }

    .two {
      transition: 0.5s;
      transform: translateX(-30%);
    }

    .cta:hover .three {
      animation: color_anim 1s infinite 0.2s;
    }

    .cta:hover .one {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.6s;
    }

    .cta:hover .two {
      transform: translateX(0%);
      animation: color_anim 1s infinite 0.4s;
    }

    @keyframes color_anim {
      0% {
        fill: white;
      }

      50% {
        fill: #FBC638;
      }

      100% {
        fill: white;
      }
    }

    @keyframes color_anim1 {
      0% {
        color: white;
      }

      50% {
        color: #FBC638;
      }

      100% {
        color: white;
      }
    }

    /* contact us */
    .invalid-feedback,
    .empty-feedback {
      display: none;
    }

    .was-validated :placeholder-shown:invalid~.empty-feedback {
      display: block;
    }

    .was-validated :not(:placeholder-shown):invalid~.invalid-feedback {
      display: block;
    }

    .is-invalid,
    .was-validated :invalid {
      border-color: #dc3545;
    }


    /* boostBox */
    .box {
      background-image: url("../public/images/bg-boost-mobile.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: #7b1fa2;
      background-color: #30C59B;
      border-radius: 0;
      max-width: 100%;
      text-align: center;
    }



    @media screen and (min-width: 600px) {
      .box {
        background-image: url("../public/images/bg-boost-desktop.svg");
        /* background-image: url("../public/images/blob.svg"); */
        background-position: bottom;
      }
    }

    @media screen and (min-width:768px) {

      .footer_fixed {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        z-index: 1;
      }

    }


    @media screen and (max-width:768px) {
      .short-input {
        width: 90% !important;
        overflow: hidden !important;
        padding: 11px 13px !important;
      }

      .icon {
        right: 10px;
      }

      .input {
        padding: 11px 45px 11px 13px;
      }

      /* .reflect {
        text-align: center;
      } */

    }

    /* .wrapper.one {
      background-color: #1a1a1a;
    } */

    .drop-main {
      display: flex;
      /* -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e); */
    }





    .l {
      opacity: 0;
      animation: drop 0.6s linear forwards;
      /* color: #00ffff; */
    }

    .o1 {
      opacity: 0;
      animation: drop 0.6s linear forwards 0.2s;
      /* color: #99ffff; */
    }

    .o2 {
      opacity: 0;
      animation: drop 0.6s linear forwards 0.4s;
      /* color: #ccffff; */
    }

    .o3 {
      opacity: 0;
      animation: drop 0.6s linear forwards 0.6s;
      /* color: #ffffff; */
    }

    .o4 {
      opacity: 0;
      animation: drop 0.6s linear forwards 0.8s;
      /* color: #de4040; */
    }

    .o5 {
      opacity: 0;
      animation: drop 0.6s linear forwards 1s;
      /* color: #de4040; */
    }

    .o6 {
      opacity: 0;
      animation: drop 0.6s linear forwards 1.2s;
      /* color: #de4040; */
    }

    .n {
      opacity: 0;
      animation: drop 0.6s linear forwards 1.4s;
      /* color: #de4040; */
    }

    .g {
      opacity: 0;
      animation: drop 0.6s linear forwards 1.6s;
      /* color: #de4040; */
    }

    @keyframes drop {
      0% {
        transform: translateY(-200px);
        opacity: 0;
      }

      50% {
        transform: translateY(0px);
        opacity: 1;
      }

      65% {
        transform: translateY(-17px);
        opacity: 1;
      }

      75% {
        transform: translateY(-22px);
        opacity: 1;
      }

      100% {
        transform: translateY(0px);
        opacity: 1;
      }
    }

    .reflect {
      /* width: 100%; */
      display: inline-flex;
      -webkit-box-reflect: below -20px linear-gradient(transparent, #211e1e2e);
    }

    .bounce {
      width: 100%;
      display: inline-flex;
    }

    .bounce .letter {
      display: inline-flex;

    }

    .letter:hover {
      animation: bounce 1s infinite;
    }

    @keyframes bounce {

      0%,
      50%,
      100% {
        transform: translateY(0);
      }

      25% {
        transform: translateY(-20px);
      }
    }

    .letter:nth-of-type(1) {
      animation-delay: 0.1s;
    }

    .letter:nth-of-type(2) {
      animation-delay: 0.2s;
    }

    .letter:nth-of-type(3) {
      animation-delay: 0.3s;
    }

    .letter:nth-of-type(4) {
      animation-delay: 0.4s;
    }

    .letter:nth-of-type(5) {
      animation-delay: 0.5s;
    }

    .letter:nth-of-type(6) {
      animation-delay: 0.6s;
    }

    .letter:nth-of-type(7) {
      animation-delay: 0.8s;
    }

    .letter:nth-of-type(8) {
      animation-delay: 0.9s;
    }

    .letter:nth-of-type(9) {
      animation-delay: 1s;
    }

    .c_wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container33 {
      --uib-size: 145px;
      /* --uib-color: #191919; */
      --uib-speed: 2s;
      position: relative;
      height: var(--uib-size);
      width: var(--uib-size);
      display: flex;
      justify-content: center;
    }

    .container33::before,
    .container33::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      /* background-color: var(--uib-color); */
      /* background-color: #30C59B; */
      animation: pulse var(--uib-speed) linear infinite;
      transform: scale(0);
      opacity: 0;
      transition: background-color 0.3s ease;
    }

    .container33::after {
      animation-delay: calc(var(--uib-speed) / -2);
    }

    @keyframes pulse {
      0% {
        transform: scale(0);
        opacity: 1;
      }

      100% {
        transform: scale(1);
        opacity: 0;
      }
    }



  }