/* <div className="h-fit w-fit">
<Image
  src={"./images/gradients/bannerGrad1.svg"}
  height={616}
  width={616}
  alt="logo"
/>
</div> */

/* #2BD0D0 */
/* #30C59B */

/* #7b1fa2 */

/* .nn{
  color:#232127;
  color:#2acfcf;
  color:#D3D3D3;
} */